.login-form-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form > h1 {
  position: absolute;
  font-size: 1.5rem;
  top: -3rem;
  left: 1rem;
}

#login-form {
  position: relative;
  display:flex;
  padding: 1rem;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  box-shadow: inset;  
  border-radius: 10px;
}

.form-field {
  padding: 0.5rem;
}

.form-field > label {
  display: block;
}