.posts-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "header header"
                       "sidebar content";
  grid-template-rows: 50px minmax(0, auto);
  grid-template-columns: minmax(200px, auto) 6fr;
  gap: 1rem;
}

.posts-layout .header {
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
}
 
.posts-layout .header h1 {
  flex-grow: 1;
}

.sidebar {
  grid-area: sidebar;
}

@media only screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
}

#posts-list {
  min-width: 300px;
  height: 100%;
}

#posts-list-controls {
  display: flex;
  justify-content: space-between;
}

#posts-list .posts {
  overflow-y: scroll;
  max-height: 100%;
}

#posts-list .post {
  margin-bottom: 1rem;
}

#senders-list {
  height: 100%;
}

#sender-list-controls {
  display: flex;
  justify-content: space-between;
}

#senders-list .senders {
  overflow-y: scroll;
  max-height: 100%;
}