
/*.post-container {
  display: grid;
  grid-template-rows: minmax(50px, auto);
  grid-template-columns: minmax(300px, 750px);
}*/

.post {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: beige;
}

.post > .heading {
  padding: 0.5rem 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.post > .message {
  padding: 0.5rem 0;
  grid-row: 2;
}