#senders-list .sender {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

#senders-list .sender.selected {
  background-color: coral;
}

#senders-list .sender-link {
  display: block;
  text-decoration: none;
}

.sender-link, .sender-link:visited, .sender-link:hover, .sender-link:hover, .sender-link:active {
  color: black;
}

.badge {
  background-color: lightcyan;
  border: 1px solid grey;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center
}