.loading-indicator {
  display: flex;
  width: 100px;
  height: 20px;
}

.dot {
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 10px;
  animation-duration: 1s;
  animation-name: change-color;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes change-color {
  0% {background-color: black;}
  100% {background-color: grey; transform: scale(0.5, 0.5)}
}

.dot.second {
  animation-delay: 0.25s;
}

.dot.third {
  animation-delay: 0.5s;
}
