html, body , #root{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#root {
  padding: 2rem;
  margin: auto;
  max-width: 1200px;
}

@media screen and (max-width: 420px) {
  #root {
    padding: 1rem 0.5rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
